# Compiled Python files
*.pyc

# Logs
*.log

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Dependency directories
__pycache__/
node_modules/

# Ignore my desktop start up scripts
bin/launch-gui.sh
nohup.out