[Desktop Entry]
Version=1.0
Name=EvilHotKeys
Exec=bin/launch-gui.sh"
Icon=assets/pentagram-icon.png
Terminal=false
Type=Application
Categories=Utility;
